.table-edit {
    margin-right: 10px;
 }

.dialog-form input {
    width: 400px;
}

td.highlight-td {
    background: #AEC1E3 !important;
}

td.scheduled-td {
    background: #A6E39D;
}

td.schedule-disable {
    background: #DA6272;
}