.table-edit {
    margin-right: 10px;
 }

.dialog-form input {
    width: 400px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

td.highlight-td {
    background: #AEC1E3 !important;
}

td.scheduled-td {
    background: #A6E39D;
}

td.schedule-disable {
    background: #DA6272;
}