<table id="AGQR-table" class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th></th>
      <% %w(Mon Tue Wed Thu Fri Sat Sun).each do |wd| %>
      <th style="width:13%"><%= wd %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
